.skd-category {
  background-color: white;
  padding-top: 160px;
  padding-bottom: 80px;
}

.skd-category__title {
  margin-bottom: 30px;
}
 
.skd-category__description {
  font-weight: 600;
  margin: 0;
  padding: 0;
  margin-bottom: 30px
}

.skd-category__list {
  display: grid;
  grid-template-columns: 20% 20% 20% 20%;
  justify-content: space-between;
  grid-row-gap: 30px;
}

.skd-category__list-part-link  {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
}

.skd-category__list-part-link img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.skd-category__list-part {
  position: relative;
  border-radius: 12px;
  overflow: hidden;

}


.terminal::after {
  content: 'Терминал продажи билетов';
}


.parkovka::after {
  content: 'Парковка';
}

.barcode::after {
  content: 'Считыватели собственного производства';
}

.turnik::after {
  content: 'Турникеты';
}

.skd-category__list-part-link::after{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  font-size: 24px;
  z-index: 100;
  font-weight: 600;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  transition: background-color 0.3s ease-in-out;
}

.skd-category__list-part-link:hover::after,
.skd-category__list-part-link:focus-visible::after {
  background-color: rgba(0, 0, 0, 0.6);
  
}

.skd-category__list-part-link:active::after {
  background-color: rgba(0, 255, 0, 0.3);
}
