.skd-part {
  background-color: white;
  padding-top: 160px;
  padding-bottom: 80px;
}


.skd-part__title {
  margin-bottom: 30px;
}

.skd-part__description {
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
}

.skd-part__part-description {
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
}

.part-bold {
  font-weight: 600;
}

.skd-part__title-middle {
  margin-bottom: 30px;
}

.skd-part__application-list {
  padding-left: 20px;
  margin-bottom: 30px;
}

.skd-part__application-list li:not(:last-child) {
  margin-bottom: 15px;
}

.skd-part__application-list-block {
  display: flex;
  flex-direction: row;
}

.skd-part__block-with-image-text {
  width: 65%;
}

.skd-part__whitch-list {
  display: grid;
  grid-template-columns: 20% 20% 20% 20%;
  grid-row-gap: 30px;
  justify-content: space-between;
  margin-bottom: 30px;
}

.skd-part__whitch-list-part {
  background-color: #f5f5f5;
  border-radius: 12px;
  overflow: hidden;
}

.skd-part__whitch-list-part {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.skd-part__whitch-list-part i {
  font-size: 46px;
  align-self: center;
  margin-bottom: 20px;
}

.skd-part__whitch-list-part-title {
  font-weight: 600;
  margin-bottom: 20px;
  text-align: center;
}

.skd-part__advantage-list {
  display: grid;
  grid-template-columns: repeat(6, 15%);
  justify-content: space-between;
  margin-bottom: 30px;
}

.skd-part__advantage-list-part {
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: center;
  border-radius: 12px;
  background-color: #CCCCFF;
}


.skd-part__advantage-list-part i {
  margin-bottom: 20px;
  font-size: 46px;
}

.skd-part__whitch-list-part-description {
  font-size: 14px;
  font-weight: 600;
}


.skd-part__catalog-list {
  display: grid;
  grid-template-columns: 20% 20% 20% 20%;
  justify-content: space-between;
  grid-row-gap: 30px;
  margin-bottom: 50px;
}



.skd-part__catalog-list-part {
  border-radius: 12px;
  overflow: hidden;
}

.skd-part__swiper-container {
  margin-bottom: 50px;
}

.skd-part__list-part-content {
  position: relative;
  height: 250px;
}

.skd-part__list-part-content img{
  /* position: absolute;
  top: 0;
  left: 0; */
  width: 100%;
  height: 100%; 
}


.M5::after {
  content: 'Контроллер - считыватель Telegreen M5';
}

.M6::after {
  content: 'Контроллер - считыватель Telegreen M6';
}

.M4::after {
  content: 'Контроллер - считыватель Telegreen M4';
}

.M3::after {
  content: 'Контроллер - считыватель Telegreen M3';
}

.M2::after {
  content: 'Контроллер - считыватель Telegreen M2';
}

.M1::after {
  content: 'Контроллер - считыватель Telegreen M1';
}


.skd-part__list-part-content::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  font-weight: 600;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: white;
  font-size: 16px;
  
  transition: background-color 0.3s ease-in-out;
}


.skd-part__list-part-content:hover::after,
.skd-part__list-part-content:focus-visible::after {
  background-color: rgba(0, 0, 0, 0.6);
}

.skd-part__list-part-content:active::after {
  background-color: rgba(0, 255, 0, 0.3);
}


.skd-part__list-part-content-btn {
  position: absolute;
  bottom: 20px;
  width: 50%;
  padding-bottom: 10px;
  z-index: 200;
  left: calc((100% - 50%) / 2);
  color: white;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  background-color: transparent;

}


.catalog-container {
  display: grid;
  grid-template-columns: 70% 30%;
  grid-column-gap: 30px;
}


.skg-part__list {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  justify-content: space-between;
  grid-row-gap: 50px;
  margin-bottom: 50px;
}

.catalog__filter {
  position: relative;
}

.filter-block {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  border: 1px solid gray;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.filter-price-input-block {
  display: flex;
  flex-direction: row;
}

/* .filter-price-input-block label {
  display: flex;
  flex-direction: column;
  width: 50%;
} */

.filter__input-container {
  display: flex;
  flex-direction: row;
  border-radius: 12px;
  overflow: hidden;
  min-height: 30px;
  border: 1px solid gray;
}

.filter__input-container input {
  padding: 10px;
  width: 50%;
}

.filter__input-to {
  border: none;
  border-right: 1px solid gray;
}

.filter-price-input-block {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.filter__label-container {
  display: grid;
  grid-template-columns: 50% 50%;
  margin-bottom: 5px;
}

.filter__input-from {
  border: none;
}

.filter-price-text {
  margin-bottom: 10px;
}

.filter-title {
  margin-bottom: 10px;
}

.filter-btn-submit {
  background-color: gray;
  color: white;
  padding: 10px 20px; 
  border: 1px solid transparent;
  outline: none;
}


