.skd-hero {
  padding-top: 150px;
  padding-bottom: 80px;
  min-height: 650px;
  background-repeat: no-repeat;
  /* background-size: cover; */
  /* background-position: bottom; */
  background-color: white;
}


.skd-hero__call-block-btn {
  font-size: 18px;
  color: white;
  border-radius: 12px;
  font-weight: 600;
  background-color: green;
  padding: 20px 40px;
} 

.about-skd {
  background-color: white;
  padding-top: 80px;
  padding-bottom: 30px;
}

.about-skd__title {
  margin-bottom: 30px;
}

.about-skd__description {
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
}

.about-skd__application-title {
  margin-bottom: 20px;
}

.about-skd__application-discription {
  padding: 0;
  margin: 0;
  margin-bottom: 15px;
}

.about-skd__application-list {
  padding-left: 20px;
  margin-bottom: 20px;
}

.about-skd__application-list li:not(:last-child) {
  margin-bottom: 15px;
}


.about-skd__kit-list {
  display: grid;
  grid-template-columns: 20% 20% 20% 20%;
  justify-content: space-between;
  grid-row-gap: 20px;
}


.danger-description {
  font-weight: 600;
  margin-bottom: 30px;
}

.about-skd__advanteges-description {
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
  font-weight: 600;
}

.about-skd__advanteges-list {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  justify-content: space-between;
  grid-row-gap: 30px;
}

.about-skd__advanteges-list-part {
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  border: 2px solid green;
  background-color: green;
  padding-top: 30px;
  margin-bottom: 50px;
}

.about-skd__advanteges-list-part-description {
  color: white;
  padding: 20px;
  
}

.about-skd__advanteges-list-part-description p{
  padding: 0;
  margin: 0;
  padding-left: 10px;
}

.about-skd__advanteges-list-part i{
  font-size: 46px;
  align-self: center;
  color: white;
}

.about-skd__list-title {
  text-align: center;
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
}


.about-skd__application-block {
  display: flex;
  flex-direction: row;
}

.about-skd__application-block-text {
  width: 65%;
}

.about-skd__application-img-block {
  width: 35%;
}



